* {
    box-sizing:border-box;
}
body {
    overflow:hidden; font-size:1rem; line-height:1.5rem;
}
#Left-Col{
    padding:1.5rem; overflow:auto; position:fixed; left:0; top:0;
    width:25vw; background-color:#abcdef; height:100vh;
}
#Centre-Col{
    padding:1.5rem; overflow:auto; position:fixed; left:25vw; top:0;
    width:50vw; height:100vh;
}
#Right-Col{
    padding:1.5rem; overflow:auto; position:fixed; left:75vw; top:0;
    width:25vw; background-color:#eee; height:100vh;
}
#Style-Box { display:none; }
.main-box, .edit-box {
    width:100%; height:calc(100vh - 9rem); resize:none;
}
#Visual-Box { 
    display:block; background:#eee; overflow:auto; overflow-x:hidden;
}
#Html-Box   { display:none; }
#Css-Box    { display:none; }
/* EOF */